*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----header-----*/
.df-navar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #a1f7be8a;
    padding: 15px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    padding: 10px;
    margin: 10px;
    font-family: "aboreto";
}
.df-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.df-ul li{
    margin: 10px;
}